
.welcome{
    height: 50px;
}
.img{
    background-color: white;
    height: 88px;
    text-align: center;
}
.search{
    height: 60px;
    background-color: aqua;
    display:flex;
}
.search-box{
    font-size: 0;
}
.search-logo{
    width: 25%;
    
}
.search-box{
    width: 50%;
    
}
.search-form{
    border: 1px burlywood solid;
    box-sizing: border-box;
    
}
.search-text{
    height: 30px;
    width: 80%;
    line-height: 30px;
    font-size: 12px;
    border: 0;
    
    
}
.search-submit{
    background-color:orange;
    font-size: 12px;
    font-weight: 700;
    color:white;
    width: 20%;
    height: 30px;
    border: 0;
    line-height: 30px;
    box-sizing: border-box;
    vertical-align:middle;
}
.search-btn{
    width: 25%;
    
}
.Body{
    display: flex;
    height: 40px;
    width: 100%;
    background-color: #da930f;
}
.Body .all-shop{
    display: inline-block;
    height: 40px;
    width: 25%;
    white-space: nowrap;
    line-height: 40px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    cursor: pointer; /* 添加这行以将鼠标光标变为手型 */
}
.Body .shop1{
    display: inline-block;
    height: 40px;
    width: 85px;
    /* 添加padding margin 删掉width */
    /* 标准盒模型和ie盒模型要看看 */
    line-height: 40px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.Body .shop1:hover{
    background-color: rgba(151, 92, 5, 0.871)
}

.Body-nag{
    width: 25%;
    background-color: white;
    float: left;
    border:3px solid rgba(151, 92, 5, 0.871);
}
h4{
    color: #da930f;
    padding: 5px 10px; 
    margin: 0;
}
.ul-list{
    list-style: none;
    padding: 0 3px; /* 去除列表的内边距 */
    margin: 0;
}
.ul-list .li{
    font-size: small;
    display: inline; /* 让列表项水平排列 */
    text-align: center;
    padding: 0 ;
}
.li+.li::before{
    content: "|";
    padding: 0 5px;
    /* 使用 ::before 伪元素来在列表项之间插入竖线分隔符 "|"。 */
}
.Body-nag1{
    height: 90px;
    background-color: gray;
    float: right;
    width: 25%;
}

.Body-content{
    height: 90px;
    background-color: lightsalmon;
    width: 50%;
    float: left;
}
.Body-footer{
    height: 90px;
    background-color: cornflowerblue;
}
a{
    text-decoration: none;
}
/* flex 弹性布局 */
/* 设置在div父级元素上
    justify-content 决定主轴对齐方式  属性 ：
    align-items  决定交叉轴对齐方式
    align-content 定义多根对齐轴方式 */

    /* vertical-align 指定行内元素或者表格单元格元素垂直对齐方式 */
